# ETL de datos de importación de productos

## Instalación de librerías base

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

## Extraction

In [ ]:
engine = create_engine('postgresql+psycopg2://postgres:mysecretpass@localhost/postgres')
df_trades = pd.read_sql("select * from trades", engine)

In [ ]:
df_countries = pd.read_json('src/country_data.json')

In [ ]:
df_codes = pd.read_csv('src/hs_codes.csv')

In [ ]:
df_parents = df_codes[df_codes['Level']==2].copy()

## Transform

#### Clean codes

In [ ]:
df_codes = df_codes[df_codes['Code_comm'].notnull()]

In [ ]:
def clean_code(text):
    text = str(text)
    parent_code = None
    if len(text) == 11:
        code = text[:5]
        parent_code = text[:1]
    else:
        code = text[:6]
        parent_code = text[:2]
    try:
        parent = df_parents[df_parents['Code_comm']==parent_code]['Description'].values[0]
    except:
        parent = None
    return (code,parent)

In [ ]:
df_codes[['clean_code','parent_description']] = df_codes.apply(lambda x : clean_code(x['Code']),axis=1, result_type='expand')

In [ ]:
df_codes = df_codes[df_codes['clean_code'].notnull()][['clean_code','Description','parent_description']]

In [ ]:
df_codes['id_code'] = df_codes.index + 1

In [ ]:
df_codes['clean_code'] = df_codes['clean_code'].astype('int64')

### Clean Countries

In [ ]:
df_countries = df_countries[['alpha-3','country','region','sub-region']]

In [ ]:
df_countries = df_countries[df_countries['alpha-3'].notnull()]

In [ ]:
df_countries['id_country'] = df_countries.index + 1

### Merge

In [ ]:
df_trades_clean = df_trades.merge(df_codes[['clean_code','id_code']],how='left', left_on='comm_code',right_on='clean_code')

In [ ]:
df_trades_clean = df_trades_clean.merge(df_countries[['alpha-3','id_country']],how='left', left_on='country_code',right_on='alpha-3')

In [ ]:
df_trades_clean

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name,clean_code,id_code,alpha-3,id_country
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,890200,6929,SYC,155
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,890310,6931,SYC,155
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,890391,6933,SYC,155
...,...,...,...,...,...,...,...,...,...,...,...,...
6216348,SYC,1999,890590,Import,3399.0,0.0,283.0,Number of items,890590,6940,SYC,155
6216349,SYC,1999,890600,Import,816.0,0.0,199.0,Number of items,890600,6941,SYC,155
6216350,SYC,1999,890710,Import,31387.0,0.0,1325.0,Number of items,890710,6945,SYC,155
6216351,SYC,1999,890790,Import,8749.0,0.0,1566.0,Number of items,890790,6946,SYC,155
6216352,SYC,1998,890110,Import,1162965.0,0.0,59920.0,Number of items,890110,6925,SYC,155

### Clean trades

In [ ]:
def create_dimension(data, id_name):
    list_keys = []
    value = 1
    for _ in data:
        list_keys.append(value)
        value = value + 1
    return pd.DataFrame({id_name:list_keys, 'values':data})

In [ ]:
df_quantity =create_dimension(df_trades_clean['quantity_name'].unique(),'id_quantity')
df_flow =create_dimension(df_trades_clean['flow'].unique(),'id_flow')
df_year =create_dimension(df_trades_clean['year'].unique(),'id_year')

In [ ]:
df_trades_clean = df_trades_clean.merge(df_quantity, how='left',left_on='quantity_name', right_on='values')

df_trades_clean = df_trades_clean.merge(df_flow, how='left',left_on='flow', right_on='values')

df_trades_clean = df_trades_clean.merge(df_year, how='left',left_on='year', right_on='values')

In [ ]:
df_trades_clean['id_trades'] = df_trades_clean.index + 1

In [ ]:
df_trades_final = df_trades_clean[['id_trades','trade_usd','kg','quantity','id_code','id_country','id_quantity','id_flow','id_year']].copy()

In [ ]:
df_countries = df_countries[['id_country','alpha-3','country','region','sub-region']]

In [ ]:
df_codes = df_codes[['id_code','clean_code','Description','parent_description']]

## Load

In [ ]:
df_trades_final.to_csv('target/trades.csv',index=False, sep='|')
df_countries.to_csv('target/countries.csv',index=False, sep='|')
df_codes.to_csv('target/codes.csv',index=False, sep='|')
df_quantity.to_csv('target/quantity.csv',index=False, sep='|')
df_flow.to_csv('target/flow.csv',index=False, sep='|')
df_year.to_csv('target/years.csv',index=False, sep='|')

In [ ]:
import os
import boto3
import redshift_connector

client = boto3.client(
    's3',
    aws_access_key_id=os.environ.get('AWS_ACCESS_KEY_ID'),
    aws_secret_access_key=os.environ.get('AWS_SECRET_ACCESS_KEY'),
)

conn = redshift_connector.connect(
    host= os.environ.get('redhsift_host'),
    database=os.environ.get('redshift_database'),
    port=5439,
    user=os.environ.get('redshift_user'),
    password=os.environ.get('redshift_pass')
)
cursor = conn.cursor()

In [ ]:
def load_file(file_name):
    table_name = file_name.split('.')[0]
    client.upload_file(
        Filename="target/{}".format(file_name),
        Bucket="platzi-etl",
        Key="course_etl_target/{}".format(file_name),
    )

    sentence = '''copy etl_test.{} from 's3://platzi-etl/course_etl_target/{}' credentials 'aws_access_key_id={};aws_secret_access_key={}' csv delimiter '|' region 'us-west-2' ignoreheader 1'''.format(
        table_name, file_name, os.environ.get('AWS_ACCESS_KEY_ID'), os.environ.get('AWS_SECRET_ACCESS_KEY')
    )
    try:
        cursor.execute(sentence)
        print('ok tabla '+ table_name)
    except:
        print('error en la tabla '+table_name)

In [ ]:
list_files = os.listdir('target/')
for _ in list_files:
    load_file(_)

In [ ]:
conn.commit()

In [ ]:
conn.close()