# ETL de datos de importación de productos

## Instalación de librerías base

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import uuid

## Extraction

In [2]:
engine = create_engine('postgresql+psycopg2://root:postgres@localhost/root')

In [10]:
df_trades = pd.read_sql("select * from trades", engine)
df_trades.head()

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items

In [6]:
df_countries = pd.read_json('src/country_data.json')
df_countries.head()

,country,images_file,image_url,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,Flag_of_Afghanistan.svg,https://upload.wikimedia.org/wikipedia/commons...,AF,AFG,4.0,ISO 3166-2:AF,Asia,Southern Asia,None,142.0,34.0,NaN
1,Albania,Flag_of_Albania.svg,https://upload.wikimedia.org/wikipedia/commons...,AL,ALB,8.0,ISO 3166-2:AL,Europe,Southern Europe,None,150.0,39.0,NaN
10,Azerbaijan,Flag_of_Azerbaijan.svg,https://upload.wikimedia.org/wikipedia/commons...,AZ,AZE,31.0,ISO 3166-2:AZ,Asia,Western Asia,None,142.0,145.0,NaN
100,Lithuania,Flag_of_Lithuania.svg,https://upload.wikimedia.org/wikipedia/commons...,LT,LTU,440.0,ISO 3166-2:LT,Europe,Northern Europe,None,150.0,154.0,NaN
101,Luxembourg,Flag_of_Luxembourg.svg,https://upload.wikimedia.org/wikipedia/commons...,LU,LUX,442.0,ISO 3166-2:LU,Europe,Western Europe,None,150.0,155.0,NaN

In [7]:
df_codes = pd.read_csv('src/hs_codes.csv')
df_codes.head()

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
0,1654555,1,0,NaN,NaN,NaN,This classification has been uploaded in RAMON...,This classification has been uploaded in RAMON...
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies"
4,1654559,4,10121000010,1.010000e+10,NaN,1.01,- Horses,NaN

## Transform

#### Clean codes

### Clean Countries

### Merge

### Clean trades

## Load

In [ ]:
import os
import boto3